<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="auth-c.css">
    <link rel="stylesheet" href="../index.css">
    <title>Login</title>
</head>
<body>
    <main>
        <form action="Post" class="form form-contact" >
            <h3>Login</h3>
            <!-- <div class="form-alert">An Error Occurred!!!</div> -->
           <div>
                <div class=" form-row">
                    <input type="email" placeholder="Email" id="email">
                </div>
                <div class="form-row">
                    <input type="password" placeholder="Password" id="password">
                </div>
                <div >
                    <button type="submit" class="btn btn-block">Submit</button>
                </div>
           </div>
            <div>
                <div>
                    <!-- <p>Don't have an account? <a href="/client-side/component/auth/register.html">Sign up</a></p> -->
                </div>
                <div>
                    <p>Forgot password</p>
                </div>
            </div>
            
        </form>
    </main>


    <script src="./auth-c.js"></script>
</body>
</html>