<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="auth-c.css">
    <title>Sign Up</title>
</head>
<body>
    <main>
        <form action="" method="post" class="formm form-contact" >
            <h3>Sign up</h3>
            <!-- <div class="form-alert">An Error Occurred!!!</div> -->
            <div class=" form-row">
                <input type="email" placeholder="Email" id="email">
            </div>
            <div class="form-row">
                <input type="text" placeholder="Username" id="username">
            </div>
            <div class="form-row">
                <input type="password" placeholder="Password" id="password">
            </div>
            <div >
                <button type="submit" class="btn btn-block">Submit</button>
            </div>
            <div>
                <p>Already have an account? <a href="/client-side/component/auth/login.html">Login</a></p>
            </div>
        </form>
    </main>


    <script src="./auth-c.js"></script>
</body>
</html>