
<%- include("../partials/header")-%>

<div>
    <h3>sign up page</h3>
    <a href="/login">Log in</a>
    <a href="/t">home</a>

    <form action="/signup" method="post">
        <input type="email" placeholder="email" name="email" >
        <input type="text" placeholder="username" name="username">
        <input type="password" placeholder="password" name="password">
        <input type="submit" name="" id="">
    </form>


</div>


<%- include("../partials/footer")-%>
