<%- include("../partials/header")-%>



<section>
    <h3>New Post</h3>
    <form action="/new" method="POST" id="" enctype="multipart/form-data">
        <input type="text" name="title" id="" placeholder="Title">
        <input type="file" name="image" id="" accept="/*">
        <textarea name="bod" id="" cols="30" rows="10" placeholder="Body"></textarea>
        <input type="submit" value="submit">
    
    </form>
</section>




<%- include("../partials/header")-%>